* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input,
textarea {
  resize: none;
  outline: none;

}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #f5f7f9;
}

button {
  border: none;
  border-radius: 6px;
}


.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);

  &-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fcfcfc;
    padding: 30px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #c83232;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    border: none;

    &:hover {
      opacity: .7;
    }
  }
}

.login-modal {
  .security {
    height: 50px;
    margin-bottom: 20px;
  }


  label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .btn-login {
    color: #fff;
    background-color: #5050c8;
    border-radius: 6px;
    width: 100%;
    padding: 15px 20px;
    border: none;
    margin-top: 25px;

    &:hover {
      opacity: .9;
    }
  }

  .error {
    color: #c83232;
    font-weight: bold;
  }

  input {
    background-color: #fff;
    outline: none;
    border: 1px solid #e9e9e9;
    padding: 10px 15px;
    margin-bottom: 10px;

    &:focus {
      box-shadow: 0 4px 8px #82b0d3;
    }
  }
}

.visit-modal {
  display: flex;

  button {
    border: none;
    padding: 0;
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  .btn-save {
    background-color: #4CAF50; 
    color: white;
    margin-bottom: 10px;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  .btn-save:hover {
    background-color: #45a049; 
  }

  .btn-discard{
    background-color: #c83232; 
    color: white;
    margin-bottom: 10px;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
    &:hover{
      background-color: #b80f0f;
    }
  }

  h4 {
    margin-bottom: 10px;
  }

  input {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding: 5px 0;
    transition: all 0.3s;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input:focus {
    border-bottom: 2px solid dodgerblue;
  }

  textarea {
    resize: none;
    border: 2px solid #ccc;
    outline: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s;
  }

  textarea:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
  }

  .blood-pressure {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    input {
      width: 100%;
    }
  }

  select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .error {
    font-weight: bold;
    color: #c83232;
    margin: 12px 0;
  }


}

nav {
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 ;

  .actions {
    display: flex;
    gap: 15px;
  }

  button {
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
  }

  .btn-login,
  .btn-logout {
    $primary : #3232c8;
    border: 1px solid $primary;
    background-color: transparent;
    color: $primary;

    &:hover {
      background-color: $primary;
      color: #fff;
      border: 1px solid #fff;
    }

  }

  .btn-create-visit {
    background-color: #3D76B3;
    background-image: linear-gradient(to right, #FF8C00, #FF1493);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .btn-create-visit {}
}

.cards {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .text-normal{
    font-weight: normal;
  }

  .box {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px 30px;

    &:hover {
      border-color: teal;
    }
  }

  button {
    padding: 8px 12px;
    background-color: rgb(144, 69, 144);
    color: #fff;
    cursor: pointer;

    &:hover {
      transform: translateY(5px);
      opacity: .85;
    }
  }
  .btn-show-more {
    background-color: #52767a; 
    color: white; 
    padding: 10px 20px;    
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  .btn-show-more:hover {
    background-color: #186871; 
  }
  
  .btn-edit {
    background-color: #3498db; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  .edit-button:hover {
    background-color: #2980b9; 
  }

  .btn-delete {
    position: absolute;
    border-radius: 0;
    right: 0;
    top: 0;
    background-color: #c83232;
    border-radius: 0 4px;
    color: #fff;

    &:hover {
      transform: none;
    }
  }

  h3 {
    // font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .btn-show-more {
    margin-right: 10px;
  }
}



.filter {
  input {
    border: none;
    border-bottom: 2px solid #3D76B3;
    padding: 10px 15px;
    background: transparent ;
    margin-right: 12px;
    font-size: 16px;
  }
  select{
    // appearance: none;
    padding: 8px 12px;
    border-radius: 6px;
    outline: navajowhite;
  }
}